body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.nested-row {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.nested-row:last-child {
  margin-bottom: 0;
}

.send-container {
  background-color: lightblue;
  padding: 20px;
  border: 1px solid blue;
}

#message-container {
  width: 80%;
  max-width: 1200px;
  display: flex; /* Added flexbox */
  flex-direction: column; /* Stack messages and input vertically */
  justify-content: flex-end; /* Align input to the bottom */
  height: 100%; /* make the message container take up the full height of its parent*/
}

#message-container div {
  background-color: #333; /* Dark gray background */
  color: #EEE; /* Light gray text for contrast */
  padding: 5px;
  border-bottom: 1px solid #444; /* Subtle divider between messages */
}

#message-container div:nth-child(2n) {
  background-color: #444; /* Slightly lighter dark gray for alternating rows */
}

#send-container {
  padding: 10px 0;
  background-color: white;
  max-width: 1200px;
  width: 100%; /*changed to 100%*/
  display: flex;
}

#message-input {
  flex-grow: 1;
}