

.container {
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
  padding: 1em;
  width: 100%;
}

.user_lists {
  background-color: #363636;
  margin-right: 1em;
  width: 40%;
  border-radius: 1em;
  padding: 1em;
  font-size: 1.5vw;
  word-wrap: break-word;

}
.user-container{
  margin: 0.5em;
    background-color: #1A1A1A;
    border-radius: 0.5em;


}
.user-container:hover{
  background-color: #B5734C;
  cursor: pointer;
}


.chats {
  display: flex;
  justify-items: center;
  width: 100%;
}

#message-container {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow-y:scroll; 
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 10px;
  box-sizing: border-box;
  background-color: #1A1A1A;
}

#messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.sender_div{
  position: sticky;
  bottom: 0;
}


.message {
  font-size: clamp(14px, 1.2vw, 18px); 
  padding: 0.3em 0.6em; 
  border-radius: 8px;
  max-width: 70%;
  width: fit-content;
  word-wrap: break-word;
}

.message.self {
  background-color: #183f3b; 
  color: white;
  align-self: flex-end;
}

.message.other {
  background-color: #0b0a0a;
  color: white;
  align-self: flex-start;
}

.message .sender {
  font-weight: bold;
}

.message.self .sender {
  color: #ffbb86; 
}

.message.other .sender {
  color: #ffbb86; 
}

.timestamp {
  color: #b0b0b0; 
  font-size: 0.75em;
  margin-top: 4px;
  text-align: right;
}

.message-content {
  font-size: 1.6vw;
  margin-left: 1em;
  margin-top: 6px;
}


#send-container {
  padding: 10px 0;
  max-width: 1200px;
  width: 100%;
  display: flex;
}

#message-input,
#send_message {
  width: 70%;
  padding: 0.5rem;
  border: 1px solid #B5734C;
  background-color: #1A1A1A;
  color: white;
  border-radius: 4px;
  font-size: 1.5vh;
  margin-right: 1em;
  
}

#send_message {
  cursor: pointer;

  width: 30%;
}

#send_message:hover {
  background-color: #B5734C;
}

@media (max-width: 768px) {
  .container {
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-content: space-around;
  padding: 1em;
  width: 100%;
}

.user_lists {
  background-color: #363636;
  width: 100%;
  border-radius: 1em;
  padding: 1em;
  font-size: 3.5vw;
  word-wrap: break-word;
  margin-bottom: 1.5em;

}

.chats {
  display: flex;
  justify-items: center;
  width: 100%;
}

#message-container {
  width: 100%;
  max-width: 1200px;
  height: 300PX;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 10px;
  box-sizing: border-box;
  background-color: #1A1A1A;
}
}